@model OidcFrontend.ViewModels.ErrorViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}
    
<div class="form">
    <div class="thumbnail"></div>
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
</div>
