@model Heimdall.Examples.Basic.ViewModels.ErrorViewModel

@{
    ViewBag.Title = @Model.ErrorTitle;
    Layout = "_Layout";
}
    
<div class="form">
    <div class="thumbnail"></div>
    <h1>@Model.ErrorTitle</h1>
    <p>@Model.ErrorMessage</p>
</div>
